{
    "semi": false,
    "tabWidth": 4,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.jsx"],
            "options": {
                "semi": false,
                "jsxSingleQuote": true,
                "bracketSameLine": true
            }
        }
    ]
}
